SIMPLE_DRIVE_STORAGE_TYPE = "cloud"
SIMPLE_DRIVE_AUTH_TOKEN = "simple_drive_secret"
SIMPLE_DRIVE_STORAGE_DIR = "/root/simple_drive/tmp"
SIMPLE_DRIVE_S3_REGION = "us-east-1"
SIMPLE_DRIVE_S3_BUCKET = "s3bucketname"
SIMPLE_DRIVE_AWS_KEY = "access_key"
SIMPLE_DRIVE_AWS_SECRET = "secret_key"
SIMPLE_DRIVE_FTP_HOST = "127.0.0.1"
SIMPLE_DRIVE_FTP_USER = "ftp_user"
SIMPLE_DRIVE_FTP_PASSWORD = "ftp_password"
